@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using PrescriptionTracker.ViewModels;
@model AddPrescriptionViewModel;

<h1>Select Medication to add</h1>

<!--This form likely needs to be populated with a List<SelectListItem>-->
<!--This is essentially our Add Prescription form that will lead to creation of a Prescription with the specified Drug-->
<!--A Prescription should have its DrugName, Tier, and TheDrugPrescribedId to be set at creation-->
<form method='post' asp-controller='Prescription' asp-action='SelectMeds'>
    <div class="form-group">
        <label asp-for='TheDrugPrescribedId'>Choose medication prescribed</label>
        <select asp-for='TheDrugPrescribedId' asp-items="Model.Drugs"></select>
    </div>
    
    <br /><br />
    <input type='submit' value='Submit' />
</form>